@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@*============Middle Div about Admin *@

@using AdeelAhmadSEM560.Models;

<div class="col-sm-5" style="margin:0px; padding:0px">

    <div class="panel panel-danger" style="margin:25px 8px 0px 8px">
                
        <div class="panel-heading">
            <span><b>General Information</b></span>
        </div>
                
        <div class="panel-body">

            <h3 class="col-sm-6"><b>Total Teachers:</b></h3>
            <h3 class="col-sm-5">@ViewBag.teachers</h3>

            <h3 class="col-sm-6"><b>Total Students:</b></h3>
            <h3 class="col-sm-5">@ViewBag.students</h3>

            <h3 class="col-sm-6"><b>Total Subjects:</b></h3>
            <h3 class="col-sm-5">@ViewBag.subjects</h3>

            <h3 class="col-sm-6"><b>Total Messages:</b></h3>
            <h3 class="col-sm-5">@ViewBag.messages</h3>

        </div>
    </div>
</div>