@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdeelVersion</title>

    <Link href="~/Content/bootstrap.css" rel="stylesheet">
    <Script src="~/Script/bootstrap.js"></Script>

</head>
<body>
    <div class="row col-sm-6 bg-info" style="margin-left:25%; margin-top:10%; padding:0px">
            <div style="border:10px groove; height:420px">
            
                <img style="height:400px; width:45%; float:left; padding:0px; border-right:10px groove" src="/Pics/AdeelAhmad.jpg">

                <div  style="width:55%; height:400px; overflow:auto; float:right; padding-top:40px; padding-left:20px">
            
                    <span style=" font-family:Chiller; font-size:45px">&nbsp;Adeel Ahmad</span>
                    <br/>
                    <span class="glyphicon glyphicon-education" style="margin:10px 0px 10px 30px;"></span>
                    <span style="margin:10px; font-family:Arial; font-size:19px; font-family:Georgia" >&nbsp;BSEF12M560 (PUCIT)</span>
                    <br/>
                    <span class="glyphicon glyphicon-earphone" style="margin:0px 0px 15px 30px;"></span>
                    <span style="margin:10px; font-family:Arial; font-size:19px; font-family:Georgia" >&nbsp;0312-4824664</span>
                    <br/>
                    <span class="glyphicon glyphicon-envelope" style="margin:0px 0px 15px 30px;"></span>
                    <span style="margin:10px; font-family:Arial; font-size:18px; font-family:Georgia" >&nbsp;adeelahmad04@yahoo.com</span>
                    <br/>
                    <span class="glyphicon glyphicon-thumbs-up" style="margin:0px 0px 10px 30px;"></span>
                    <span style="margin:10px; font-family:Arial; font-size:17px; font-family:Georgia" >&nbsp;
                        <a href="https://www.facebook.com/adeel.ahmad.12560">https://www.facebook.com</a>
                    </span>
                    <br/><br/>
                    <span style="margin:8px; font-family:Arial; font-size:17px" class="">&nbsp;<b>Instructor:</b></span>
                    <br/>
                    <span class="glyphicon glyphicon-user" style="margin:16px 0px 15px 30px"></span>
                    <span style="margin:10px; font-family:Arial; font-size:19px; font-family:Georgia" >&nbsp;<a href="https://www.facebook.com/bilaljavediqbal?ref=pymk&fref=pymk" style="text-decoration:none; color:black">Bilal Javaid Iqbal</a></span>
            
                </div>
        </div>
    </div>    
</body>
</html>
