@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
    <Link href="~/Content/bootstrap.css" rel="stylesheet">
    <Script src="~/Script/bootstrap.js"></Script>
</head>
<body>
    <div class="col-sm-6" style="margin-left:25.5%; margin-top:5%; padding:10px">

        <div class="panel panel-success" style="border-color:#003366">                
    
            <div class="panel-heading" style="color:white; border-color:#003366; background-color:#003366">
                <span>Successfully Registered</span>
            </div>
            <div class="panel-body">
                <h2 style="color:#aa0200; margin-bottom:30px">Thankyou for Joining Us..</h2>
                <h4>Stay connected and be educated.</h4>
            </div>
        </div>
    </div>
</body>
</html>
